*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(#002348,#000);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-attachment: fixed;
}

.projekter{
    background-color: #fff;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 10% / 25%;
    padding-left: 1.25rem;
    padding-top: 0.5rem;
    
}

.cover-billede{
    max-width: 30vw;
}
@container style(--besat:true){

}

.container {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 5px solid orange;
    transition: border-color 0.3s ease;
  }
  
 /* Tilføj en grøn border, når alle checkboxes er markeret */
 .checkboxes input[type="checkbox"]:checked ~ input[type="checkbox"]:checked ~ input[type="checkbox"]:checked ~ .container {
    border-color: green;
}


@media (min-width: 300px){

}


@media (min-width: 768px){

}